<main id="main--discover">
  <div id="content">
    <section class="container--header pt-16 md:pb-24 pb-14 relative">
      <div class="container--boxed relative">
        <div class="mx-auto flex flex-col items-start md:items-center">
          <h1 class="heading--h1 text-white md:text-center">Discover A-Z</h1>
          <p class="text--xl text-white md:text-center md:mt-4 mt-1 md:max-w-3xl">
            Are you looking for help? Select from the areas below or browse the
            full list to learn more about each topic and the various avenues for support.
          </p>
          <div class="relative">
            <div class="rounded-lg p-[2px] mb-5 gradient--vibgyor md:min-w-[644px]">
              <div class="flex justify-between bg-white rounded-lg p-2">
                <input type="search" placeholder="Enter keyword"
                       class="border-none text-lg font-semibold focus:ring-0 w-full
                             focus:outline-none text-brand-blue placeholder:text-brand-blue
                             placeholder:font-semibold placeholder:text-lg" value="">
                <button type="button" class="button--primary md:ml-3 w-full md:w-auto hidden md:inline-flex">
                  <span>Search</span>
                </button>
              </div>
            </div>
            <button type="button" class="button--primary md:mb-0 mb-6 w-full md:hidden inline-flex">
              <span>Search</span>
            </button>
          </div>
          <div class="flex text-white md:items-center md:flex-row flex-col font-semibold">
            <p class="text-lg mb-0 mr-5">Common searches</p>
            <div class="flex gap-2 text--uppercase--sm no-scrollbar w-full md:w-fit">
              <a class="tag-links bg-brand-neutral-100 rounded py-3 px-6" href="#">Anxiety</a>
              <a class="tag-links bg-brand-neutral-100 rounded py-3 px-6" href="#">Depression</a>
              <a class="tag-links bg-brand-neutral-100 rounded py-3 px-6" href="#">ADHD</a>
            </div>
          </div>
        </div>
      </div>
      </section>


      <section class="gradient--gray py-7 relative overflow-hidden">
        <div class="container--boxed flex items-center justify-between">
          <div>
            <h1 class="text-brand-neutral-900 text-1.5xl lg:text-2xl font-medium">
              <span class="relative block">Mental health and self-improvement information</span>
              <span class="text-brand-purple block font-normal text-xl lg:text-1.5xl">
                    Understand what and why something happens.<br>
                    Discover and help yourself.
                  </span>
            </h1>
          </div>
          <div class="hidden lg:flex items-center text-brand-neutral-900 justify-end">
            <div class="max-w-[239px] ml-9 pl-9 border-l first:pl-0 first:border-l-0">
              <span class="block text-lg font-medium">10,000+ Articles</span>
              <span class="block opacity-80 leading-5 mt-1">Discover actionable mental health and wellbeing advice from our experts.</span>
            </div>
            <div class="max-w-[239px] ml-9 pl-9 border-l first:pl-0 first:border-l-0">
              <span class="block text-lg font-medium">50+ Topics</span>
              <span class="block opacity-80 leading-5 mt-1">From ADHD to anxiety, depression, empathy and beyond.</span>
            </div>
            <div class="max-w-[239px] ml-9 pl-9 border-l first:pl-0 first:border-l-0">
              <span class="block text-lg font-medium">Quality Review</span>
              <span class="block opacity-80 leading-5 mt-1">Content checked and approved by the site's in-house editorial team.</span>
            </div>
          </div>
        </div>
      </section>


      <section class="section--md">
        <div class="container--boxed">
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <div class="lg:block relative px-6 py-9 rounded-lg min-h-[600px] w-full overflow-hidden col-span-1"
                 style="background-color:#fff6e7">
              <div class="card__image absolute inset-0 flex items-end" style="background-color: #320288">
<!--              <div class="card__image absolute inset-0 flex items-end" style="background-image: url('<%#= asset_url("cat1.jpg") %>')">-->
<!--                <img src="<%#= asset_url("cat1.jpg") %>">-->
              </div>
              <div class="flex flex-col justify-between relative h-full">
                <div>
                  <h2 class="heading--h3 start" style="color:#4ea9a4">Self-Growth Articles</h2>
                  <p class="text--lg mt-2">-- insert images</p>
                </div>
                <div>
                  <a class="button--secondary w-full h-12" href="/learn-more-about-yourself">Browse All Articles</a>
                </div>
              </div>
            </div>
            <div class="lg:block relative px-6 py-9 rounded-lg min-h-[600px] w-full overflow-hidden col-span-1"
                 style="background-color:#fff6e7">
              <div class="card__image absolute inset-0 flex items-end" style="background-color: #320288">
<!--                <img src="<%#= asset_url("cat1.jpg") %>">-->
              </div>
              <div class="flex flex-col justify-between relative h-full">
                <div>
                  <h2 class="heading--h3 start" style="color:#4ea9a4">Quizzes for fun!</h2>
                  <p class="text--lg mt-2 text-brand-neutral">-- quizzes</p>
                </div>
                <div>
                  <a class="button--secondary w-full h-12" href="/quizzes">Browse All Quizzes</a>
                </div>
              </div>
            </div>
            <div class="lg:block relative px-6 py-9 rounded-lg min-h-[600px] w-full overflow-hidden col-span-1"
                 style="background-color:#fff6e7">
              <div class="card__image absolute inset-0 flex items-end" style="background-color: #320288">
<!--                <img src="<%#= asset_url("cat1.jpg") %>">-->
              </div>
              <div class="flex flex-col justify-between relative h-full">
                <div>
                  <h2 class="heading--h3 start" style="color:#4ea9a4">Mental Health Articles</h2>
                  <p class="text--lg mt-2 text-brand-neutral">-- articles</p>
                </div>
                <div>
                  <a class="button--secondary w-full h-12" href="#">Browse All Articles</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    <div class="section--xl">
      <div class="container--boxed">
        <h2 class="heading--h2 text-brand-blue md:text-center">Discover A-Z</h2>
      </div>
      <nav class="sticky top-0 z-20 mt-4 mb-4">
        <div class="container--boxed">
          <div class="w-full flex gap-x-2 bg-white/60 backdrop-blur-[2px] rounded lg:justify-center justify-start no-scrollbar">
            <a href="#A" class="tag-links flex justify-center items-center w-10 h-10 rounded-[3.6px] bg-brand-neutral-100 hover:bg-brand-blue text--uppercase font-semibold hover:text-white text-brand-blue">A</a>
            <a href="#D" class="tag-links flex justify-center items-center w-10 h-10 rounded-[3.6px] bg-brand-neutral-100 hover:bg-brand-blue text--uppercase font-semibold hover:text-white text-brand-blue">D</a>
            <a href="#E" class="tag-links flex justify-center items-center w-10 h-10 rounded-[3.6px] bg-brand-neutral-100 hover:bg-brand-blue text--uppercase font-semibold hover:text-white text-brand-blue">E</a>
          </div>
        </div>
      </nav>
      <div class="container--boxed mt-6">
        <section class="md:mt-14 mt-6 w-full first:mt-0" id="A">
          <h2 class="heading--h2 text-brand-blue border-solid
          border-b-[1px] border-brand-neutral-200 pb-2 mb-6">A</h2>
          <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-y-2 md:gap-y-4 gap-x-6">
            <a class="text--lg text-brand-blue hover:text-brand-purple-100 hover:underline" href="#">Anxiety</a>
            <a class="text--lg text-brand-blue hover:text-brand-purple-100 hover:underline" href="#">A-Placeholder</a>
            <a class="text--lg text-brand-blue hover:text-brand-purple-100 hover:underline" href="#">A-PlaceholderPlaceholder PlaceholderPlaceholder</a>

          </div>
        </section>
        <section class="md:mt-14 mt-6 w-full first:mt-0" id="D">
          <h2 class="heading--h2 text-brand-blue border-solid
          border-b-[1px] border-brand-neutral-200 pb-2 mb-6">D</h2>
          <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-y-2 md:gap-y-4 gap-x-6">
            <a class="text--lg text-brand-blue hover:text-brand-purple-100 hover:underline" href="#">Depression</a>
          </div>
        </section>
        <section class="md:mt-14 mt-6 w-full first:mt-0" id="E">
          <h2 class="heading--h2 text-brand-blue border-solid
          border-b-[1px] border-brand-neutral-200 pb-2 mb-6">E</h2>
          <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-y-2 md:gap-y-4 gap-x-6">
            <a class="text--lg text-brand-blue hover:text-brand-purple-100 hover:underline" href="#">Empathy</a>
          </div>
        </section>
      </div>
    </div>

  </div>
</main>