<div class="relative container1">
  <div class="container1-1 flex flex-row-reverse home-page">
      <div class="title-logo relative">
        <h1 style="z-index: 10">ME:today</h1>
        <h2 style="z-index: 10">
          Description placeholder.<br>
          Description placeholder.
          Description placeholder.
        </h2>
        <div class="button" style="z-index: 10; margin-top: 60px">
          <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        </div>
      </div>

  </div>

  <div class="scroll-button">
    <button onclick="document.getElementById('middle').scrollIntoView()">
      |
    </button>
  </div>
</div>



<div class="container2 relative" id="middle">
  <div class="image-puppet">
    <p>IMAGE PLACEHOLDER</p>
  </div>

  <div class="text-description">
    <p class="title">TITLE PLACEHOLDER</p>
    <p class="content">Lorem ipsumLorem ipsumLorem ipsumLorem <br>ipsumLorem ipsumLorem ipsumLorem ipsum</p>
    <p class="content">Lorem ipsumLorem ipsumLorem ipsumLorem <br>ipsumLorem ipsumLorem ipsumLorem ipsum</p>
    <a href="#">Check it out! -></a>
  </div>
</div>

<div class="container2 relative reverse" id="bottom">
  <div class="text-description">
    <p class="title">TITLE PLACEHOLDER</p>
    <p class="content">Lorem ipsumLorem ipsumLorem ipsumLorem <br>ipsumLorem ipsumLorem ipsumLorem ipsum</p>
    <p class="content">Lorem ipsumLorem ipsumLorem ipsumLorem <br>ipsumLorem ipsumLorem ipsumLorem ipsum</p>
    <a href="#">Check it out! -></a>
  </div>

  <div class="image-puppet">
    <p>IMAGE PLACEHOLDER</p>
  </div>
</div>
