
<div class="mood-form">
  <!--    <div class="col-md-5 col-md-offset-3 row-edit">-->
  <%= form_with(model: mood, local: true) do |f| %>
    <%#= render 'shared/error_messages', object: f.object%>


    <label class="title-form"> Input feelings:
      <textarea type="text" name="mood[description]"><%=mood.description %> </textarea>
    </label>

    <%= f.submit "Save feelings", class: "my-form-button" %>
  <% end %>

</div>