<% doctors.each do |doctor| %>
    <div class="grid-item">
      <%=link_to show_info_path(doctor), class: "nav-link"  do %>
        <%= gravatar_for doctor, size: 100 %>
        <%= doctor.name %>
      <%end %>
    </div>
<% end %>

<%= will_paginate doctors %>
