@import "../../../node_modules/bootstrap/scss/bootstrap";

/* mixins, variables, etc. */
$dark-blue: #2b107c;
$blue: #3e0ac2;
$purple: #6600d0;
$light-purple: #ba9fdc;
$gray: #c6c2cc;
//$body-bg: #ba9fdc;
//$body-color: #ba9fdc;
//
//@import "../../../node_modules/bootstrap/scss/bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  padding-block: 60px;
  margin-bottom: 60px;
  height: 100%;
  width: 100%;
  background-color: $light-purple !important;
}
html{
  overflow-y: scroll; overflow-x:hidden;
  height: 100%;
  width: 100%;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}


/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}
p{
  font-size: 1.1em;
  line-height: 1.7em;
}

////////////////////////////////////////////////////////////////////////////////////////////////
/* home page */
body.homepage{
  background-image: url("bg02flip.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  //padding-block: 300px;
}

.container1 {
  position: relative;
  overflow: visible;
  //background-color: aquamarine;
  //border: 5px solid black;
  height: 100%;
  margin-bottom: 60px;

  .home-page {
    //background-color: red;
    position: absolute;
    left: 900px;
    top: 100px;
    padding: 100px 0;
    height: 450px;
    width: 450px;
  }

  .title-logo {
    //background-color: white;
    //padding: 100px 0;
    //margin-top: -50px;
    //margin-bottom: 50px;
    top: 140px;
    position: absolute;
  }

  .image-logo {
    //background-color: white;
    position: absolute;
    top: 30px;
    left: 102px;
  }

  #home-logo {
    opacity: 20%;
  }

  .button {
    //background-color: yellow;
    //position: absolute;
    top: 300px;
    left: 151px;
  }

  .scroll-button {
    position: absolute;
    top: 500px;
    left: -150px;
  }
}

.container2{
  position: relative;
  //overflow: hidden;
  background-color: $light-purple;
  //height: auto;
  height: 100%;
  //border: 5px solid black;
  display: block;

  .image-puppet2{
    float: left;
    left: 200px;
    top: 150px;
    //background-color: blue;
    display: inline-block;
    position: absolute;
  }

  .text-description2{
    float: right;
    //background-color: blue;
    right: 200px;
    top: 150px;
    display: inline-block;
    position: absolute;

    .title{
      text-align: center;
      font-family: "Arial Black", serif;
    }
    .content{
      text-align: center;
      font-family: "Arial", serif;
    }

  }
}

.container3{
  position: relative;
  height: 100%;
  //border: 5px solid black;
  display: block;

  .image-puppet3{
    //background-color: blue;
    float: right;
    right: 200px;
    top: 150px;
    display: inline-block;
    position: absolute;
  }

  .text-description3{
    //background-color: blue;
    float: left;
    left: 200px;
    top: 150px;
    display: inline-block;
    position: absolute;

    .title{
      text-align: center;
      font-family: "Arial Black", serif;
    }
    .content{
      text-align: center;
      font-family: "Arial", serif;
    }

  }
}


////////////////////////////////////////////////////////////////////////////////////////////////
/* my account/profile page */
#main{
  position: relative;
  max-width: 1400px;
  margin: 0 auto 50px;
}
.page-title{
  position: relative;
}
.normal-title .page-title-inner{
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-title-inner{
  position: relative;
  min-height: 60px;
}
.text-center{
  text-align: center;
}
.flex-col {
  max-height: 100%;
}
.flex-grow{
  -webkit-box-flex: 1;
  flex: 1;
}
.uppercase{
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1.2;
}

.grid-container {
  display: grid;
  //grid-template-columns: auto auto auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px 20px rgba(0,0,0,.2);
  padding: 80px;
  border-radius: 50px;
  grid-gap: 50px;
  margin-bottom: 200px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  //border: 1px solid $purple;
  box-shadow: 0 0 20px 5px #6600d03d;
  padding: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.subtext{
  text-transform: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
}
.grid-item:hover{
  background-color: #6600d03d;
}

@media screen and (max-width: 800px) {
  .grid-container { grid-template-columns: repeat(1,1fr)}
}
@media screen and (min-width: 800px) {
  .grid-container { grid-template-columns: repeat(2,1fr)}
}
@media screen and (min-width: 1300px) {
  .grid-container { grid-template-columns: repeat(3,1fr)}
}

/////////////////////////////////////////////////////////////
/* my progress page */
#week-chart-figure{
 display: block;
}
#month-chart-figure{
  display: none;
}
#mood-chart{
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
  background-color: white;


}


#app-cover{
  //position: absolute;
  width: 100%;
  //margin: 100px auto 0 auto;
  //font-family: Nunito, serif;
  display: inline-block;
  //grid-template-columns: auto auto auto;
  background-color: #ba9fdc;
  box-shadow: 0 0 20px 20px rgba(0,0,0,.2);
  padding: 80px;
  border-radius: 50px;
  //grid-gap: 50px;
  margin-bottom: 200px;
}
.app-title{
  color: #4b525b;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 0 31px 0;
}
.mood
{
  position: relative;
  top: 0;
  width: 135px;
  height: 135px;
  float: left;
  padding: 25px;
  transition: 0.5s ease top;
  cursor: pointer;
}
.mood.active, .mood:hover
{
  top: -20px;
}

.mood:after
{
  content: '';
  position: absolute;
  top: 36px;
  left: 32px;
  width: 79px;
  height: 79px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease background-color;
  z-index: -1;
}

#mood-anxious.active:after, #mood-anxious:hover:after
{
  background-color: #ebf7e8;
}

#mood-relaxed.active:after, #mood-relaxed:hover:after
{
  background-color: #f1f3f4;
}

#mood-joyful.active:after, #mood-joyful:hover:after
{
  background-color: #fde4e3;
}

.face
{
  position: relative;
  height: 80px;
  border: 6px solid #d9e0e3;
  border-radius: 50%;
}

.eyes-cover
{
  position: relative;
  top: 22px;
}

#mood-anxious .eyes-cover
{
  top: 25px;
}

.eye
{
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #d9e0e3;
  border-radius: 50%;
}

.eye:first-child
{
  left: 18px;
}

.eye:last-child
{
  right: 18px;
}

#mood-anxious .eye
{
  width: 8px;
  height: 8px;
  transform: rotateZ(-45deg) scale(1);
  border-radius: 0;
}

#mood-anxious .eye:first-child
{
  left: 20px;
}

#mood-anxious .eye:last-child
{
  right: 20px;
}

#mood-joyful .eye:first-child
{
  left: 19px;
}

#mood-joyful .eye:last-child
{
  right: 19px;
}

#mood-anxious .eye:before, #mood-anxious .eye:after
{
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #d9e0e3;
  border-radius: 50%;
}

#mood-anxious .eye:before
{
  top: -4px;
  left: 0;
}

#mood-anxious .eye:after
{
  top: 0;
  right: -4px;
}

.mouth
{
  position: absolute;
  top: 46px;
  right: 0;
  left: 0;
  width: 28px;
  margin: 0 auto;
  background-color: #d9e0e3;
}

#mood-anxious .mouth, #mood-joyful .mouth
{
  height: 13px;
  border-radius: 0 0 40px 40px;
}

#mood-relaxed .mouth
{
  height: 8px;
  margin-left: 22px;
  border-radius: 10px;
}

#mood-joyful .mouth
{
  top: 44px;
  transform: rotateZ(180deg);
}

.face, .eyes-cover, .eye, #mood-anxious .eye:before, #mood-anxious .eye:after, .mouth
{
  transition: 0.3s ease all;
}

.mood-name
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 8px 14px;
  margin: 0 auto;
  text-transform: uppercase;
  opacity: 0;
  background-color: #4b525b;
  border-radius: 20px;
  box-shadow: 0 10px 35px #cacbcf;
  transition: 0.3s ease bottom, 0.3s ease opacity;
}

.mood.active .mood-name, .mood:hover .mood-name
{
  bottom: -40px;
  opacity: 1;
}

#mood-anxious .mood-name
{
  width: 90px;
}

#mood-relaxed .mood-name
{
  width: 90px;
}

#mood-joyful .mood-name
{
  width: 85px;
}

.mood-name span
{
  position: relative;
  letter-spacing: 1px;
  background-color: #4b525b;
  z-index: 2;
}

.mood-name:before
{
  content: '';
  position: absolute;
  top: -5px;
  right: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background-color: #4b525b;
  border-radius: 5px;
  transform: rotateZ(45deg);
  z-index: 1;
}

#mood-anxious.active .face, #mood-anxious:hover .face
{
  border-color: #9ad88b;
}

#mood-anxious.active .eye, #mood-anxious:hover .eye, #mood-anxious.active .eye:before, #mood-anxious:hover .eye:before, #mood-anxious.active .eye:after, #mood-anxious:hover .eye:after, #mood-anxious.active .mouth, #mood-anxious:hover .mouth
{
  background-color: #9ad88b;
}

#mood-relaxed.active .face, #mood-relaxed:hover .face
{
  border-color: #b1babe;
}

#mood-relaxed.active .eye, #mood-relaxed:hover .eye, #mood-relaxed.active .eye:before, #mood-relaxed:hover .eye:before, #mood-relaxed.active .eye:after, #mood-relaxed:hover .eye:after, #mood-relaxed.active .mouth, #mood-relaxed:hover .mouth
{
  background-color: #b1babe;
}

#mood-joyful.active .face, #mood-joyful:hover .face
{
  border-color: #f57a71;
}

#mood-joyful.active .eye, #mood-joyful:hover .eye, #mood-joyful.active .eye:before, #mood-joyful:hover .eye:before, #mood-joyful.active .eye:after, #mood-joyful:hover .eye:after, #mood-joyful.active .mouth, #mood-joyful:hover .mouth
{
  background-color: #f57a71;
}

#mood-anxious.active .eye, #mood-anxious:hover .eye
{
  animation: great 0.7s linear;
}

#mood-relaxed.active .mouth, #mood-relaxed:hover .mouth
{
  animation: okay 0.9s linear 0.4s;
}

#mood-joyful.active .eyes-cover, #mood-joyful:hover .eyes-cover
{
  animation:  bad_eyes 1s linear;
}

#mood-joyful.active .mouth, #mood-joyful:hover .mouth
{
  animation:  bad_mouth 1s linear ;
}

#mood-joyful.active:after, #mood-joyful:hover:after
{
  animation: bad_after 0.3s linear;
}

@keyframes great
{
  0% { transform: rotateZ(-45deg)  scale(1); }
  25%  { transform: rotateZ(-45deg) scale(1.3); }
  50% { transform: rotateZ(-45deg) scale(1); }
  75% { transform: rotateZ(-45deg) scale(1.3); }
  100% { transform: rotateZ(-45deg) scale(1); }
}

@keyframes okay
{
  0% { width:28px; margin-left: 22px;  }
  25% { width:15px; margin-left: 24px;  }
  50% { width:15px; margin-left: 24px; }
  75% { width:15px; margin-left: 24px; }
  100% { width:28px; margin-left: 22px; }
}

@keyframes bad_eyes
{
  0% { top: 22px; left: 0; }
  25% { top: 24px; left: -7px;  }
  50% { top:24px; left: -7px; }
  75% { top:24px; left: -7px; }
  100% { top:22px; left: 0; }
}

@keyframes bad_mouth
{
  0% { top: 44px; left: 0; }
  25% { top: 41px; left: -8px;  }
  50% { top:41px; left: -8px; }
  75% { top:41px; left: -8px; }
  100% { top:44px; left: 0; }
}

@keyframes bad_after
{
  0% { top:36px; left: 32px; }
  25% { top:33px; left: 29px;  }
  50% { top:36px; left: 32px; }
  75% { top:33px; left: 35px;  }
  100% { top:36px; left: 32px; }
}

/////////////////////////////////////////////////////////////
/* edit/settings page */
.row-edit{
  padding: 50px !important;
  margin-left: 500px;

}

///////////////////////////////////////////////////////////////////////////////////////////////
/* Learn about yourself static-page */
.cards {
  display: grid;
  gap: 16px;
  max-width: 1340px;
  margin: 0 auto;
  padding: 16px;

  @media (min-width: 944px){
    grid-template-columns: repeat(2, 1fr);
  }
}

.card{
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 1fr auto;
  background: #ffffff;
  border-radius: 10px !important;
  color: #101010 !important;

  @media (min-width: 500px){
    grid-template-columns: 160px repeat(2, 1fr);
    grid-template-rows: 1fr auto;
  }

  @media (min-width: 800px){
    grid-template-columns: 300px repeat(2, 1fr);
  }

  @media (min-width: 944px){
    grid-template-columns: 160px repeat(2, 1fr);
  }

  &__overlay {
    display: none;

    @media (min-width: 944px){
      position: relative;
      opacity: 0;
      display: grid;
      justify-items: center;
      align-items: center;
      background: rgba(0,0,0,0.5);
      grid-column: 1 / 4;
      grid-row: 1 / 3;
      transition: opacity 200ms ease-in-out;
    }

    .card:hover & {
      opacity: 1;
    }

    span {
      display: inline-block;
      border: 2px solid #ffffff;
      padding: 1rem 3rem;
      color: #ffffff;
      background: rgba(0,0,0,0.5);
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &__image{
    background: url("cat1.jpg") no-repeat center/cover;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    @media (min-width: 500px){
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
  }

  &__content{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 20px;

    @media (min-width: 500px){
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }
  }

  &__title{
    font-size: 30px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__description{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  &__date, &__readtime {
    font-size: 14px;
    line-height: 1;
    padding-bottom: 24px;
  }

  &__date{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-left: 24px;

    @media (min-width: 500px){
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  &__readtime{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: end;
    padding-right: 24px;

    @media (min-width: 500px){
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
}

/////////////////////////////////////////////////////////////
/* articles */
#article{
  position: relative;
  margin: 0 auto 50px;
}
.article-title{
  position: relative;
  padding: 100px 0 10px 160px;
  font-weight: bold;
}
.text-left{
  text-align: left;
}

.col-xs-12{
  margin-bottom: 30px;
}
.path-structure::before{
  content: "You are here: ";
  padding-right: 5px;
  white-space: nowrap;
}
.path-structure {
  display: block ;
  margin-top: -80px ;
  font-size: 20px ;
  border-bottom: 1px dashed #777;
}
.path-structure>li {
  line-height: 4.4rem;
  display: inline-block;
}
.custom-link{
  text-decoration: none;
  color: black;
}
.path-structure li:nth-child(n+2)::before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.path-structure>.active {
  color: #777;
}

.article-content {
  display: block;
  background-color: #ffffff;
  box-shadow: 0 12px 20px 20px rgba(0,0,0,.2);
  padding: 80px;
  border-radius: 30px;
  margin: 0 80px 200px 80px;
  line-height: 1.2;
}


.article-img{
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  width: 50%;
}
.article-text{
  font-family: "Times New Roman", serif;
  text-align: justify;
  font-size: 30px;
}
.article-text::first-letter{
  font-size: 200%;
  color: #730E15;
}

blockquote {
  font-family: "Times New Roman", serif;
  font-style: italic;
  text-align: justify;
  line-height: 1.2;
  font-size: 30px;
  position: relative;
  padding: 60px 100px;
  margin-top: 50px !important;
}
blockquote::before{
  content: open-quote;
  /* Place it at the top-left */
  top: 0;
  left: 0;
}
blockquote::after {
  content: close-quote;
  /* Place it at the bottom-right */
  bottom: 0;
  right: 0;
}
blockquote::before, blockquote::after {
  background-color: #cccccc;
  display: block;
  font-family: Sans-Serif, serif;
  width: 80px;
  height: 80px;
  line-height: 1.2;
  font-size: 100px;
  border-radius: 100%;
  text-align: center;
  position: absolute;
}


.article-footer{
  margin-top: 100px;
  padding: 0 50px 0 50px;
  .article-author{
    float: left;
  }
  .article-date{
    float: right;
  }
  .article-author, .article-date{
    font-size: 20px;
    font-family: "Times New Roman", serif;
    font-style: italic;
    color: #777;
  }
}

.keywords-title{
  position: relative;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.grid-keywords {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  align-items: center;
  background-color: $light-purple;
  box-shadow: inset 0 0 20px 20px rgba(0,0,0,.2);
  padding: 50px;
  border-radius: 50px;
  grid-gap: 50px;
}
.grid-key-item {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px 5px rgba(0,0,0,.2);
  border-radius: 100px;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.grid-key-item:hover{
  background-color: #6600d03d;
}

@media screen and (max-width: 800px) {
  .grid-keywords { grid-template-columns: repeat(1,1fr)}

  .path-structure {
    display:flex;
    flex-flow: row wrap;
    padding: 20px 15px 12px;
  }
  .path-structure::before {
    line-height: 1.8;
  }
  .path-structure>li {
    line-height: 1.8;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
  }
}
@media screen and (min-width: 800px) {
  .grid-keywords { grid-template-columns: repeat(3,1fr)}
}
@media screen and (max-width: 1000px) {
  .article-title {
    padding: 100px 0 10px 0;
    margin: 0 20px;
  }
  .article-content {
    margin: 0 0 200px 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .article-img {
    margin-right: 10px;
  }
  .article-text {
    font-size: 20px;
  }
  blockquote {
    padding: 60px 60px;
    font-size: 20px;
  }
  blockquote::before, blockquote::after {
    font-size: 90px;
    width: 70px;
    height: 70px;
  }
  .article-footer{
    padding: 0 20px 0 20px;
  }
  .article-author, .article-date {
    font-size: 10px;
  }
  .keywords-title{
    font-size: 20px;
    padding-left: 20px;
  }
  .grid-keywords{
    padding: 20px;
    grid-gap: 20px;
  }
  .grid-key-item{
    font-size: 10px;
  }
}
@media screen and (min-width: 1300px) {
  .grid-keywords { grid-template-columns: repeat(5,1fr)}
}


////////////////////////////////////////////////////////////////////////////////////////////////
/* header */
.header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0));
}

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
}

#img-logo{
  margin-bottom: 27px;
}

.dropdown-menu{
  background-color: $purple !important;
}

/////////////////////////////////////////////////////////////////////////////////////////////////
/* footer */
.footer {
  position: fixed;
  margin-top: 45px;
  margin-left: 100px;
  margin-right: 100px;
  border-top: 1px solid $dark-blue;
  color: $blue;
  bottom: 0;
  height: 10px;

  a {
    color: $gray;

    &:hover {
      color: $dark-blue;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@media screen and (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


////////////////////////////////////////////////////////////////////////////////////////////////
/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

////////////////////////////////////////////////////////////////////////////////////////////////
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  //@extend .has-error;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
.form-control{
  //width: 50% !important;
}
