@import "../../../node_modules/bootstrap/scss/bootstrap";

/* mixins, variables, etc. */
$dark-blue: #2b107c;
$blue: #3e0ac2;
$purple: #6600d0;
$light-purple: #ba9fdc;
$gray: #c6c2cc;
//$body-bg: #ba9fdc;
//$body-color: #ba9fdc;
//
//@import "../../../node_modules/bootstrap/scss/bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  padding-block: 60px;
  margin-bottom: 60px;
  height: 100%;
  width: 100%;
  background-color: $light-purple !important;
}
html{
  overflow-y: scroll; overflow-x:hidden;
  height: 100%;
  width: 100%;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}


/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}
p{
  font-size: 1.1em;
  line-height: 1.7em;
}

/////////////////////////////////////////////////////////////
/* home page */
body.homepage{
  background-image: url("bg02flip.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  //padding-block: 300px;
}

.container1 {
  position: relative;
  overflow: visible;
  //background-color: aquamarine;
  //border: 5px solid black;
  height: 100%;
  margin-bottom: 60px;

  .home-page {
    //background-color: red;
    position: absolute;
    left: 900px;
    top: 100px;
    padding: 100px 0;
    height: 450px;
    width: 450px;
  }

  .title-logo {
    //background-color: white;
    //padding: 100px 0;
    //margin-top: -50px;
    //margin-bottom: 50px;
    top: 140px;
    position: absolute;
  }

  .image-logo {
    //background-color: white;
    position: absolute;
    top: 30px;
    left: 102px;
  }

  #home-logo {
    opacity: 20%;
  }

  .button {
    //background-color: yellow;
    //position: absolute;
    top: 300px;
    left: 151px;
  }

  .scroll-button {
    position: absolute;
    top: 500px;
    left: -150px;
  }
}

.container2{
  position: relative;
  //overflow: hidden;
  background-color: $light-purple;
  //height: auto;
  height: 100%;
  //border: 5px solid black;
  display: block;

  .image-puppet2{
    float: left;
    left: 200px;
    top: 150px;
    //background-color: blue;
    display: inline-block;
    position: absolute;
  }

  .text-description2{
    float: right;
    //background-color: blue;
    right: 200px;
    top: 150px;
    display: inline-block;
    position: absolute;

    .title{
      text-align: center;
      font-family: "Arial Black";
    }
    .content{
      text-align: center;
      font-family: "Arial";
    }

  }
}

.container3{
  position: relative;
  height: 100%;
  //border: 5px solid black;
  display: block;

  .image-puppet3{
    //background-color: blue;
    float: right;
    right: 200px;
    top: 150px;
    display: inline-block;
    position: absolute;
  }

  .text-description3{
    //background-color: blue;
    float: left;
    left: 200px;
    top: 150px;
    display: inline-block;
    position: absolute;

    .title{
      text-align: center;
      font-family: "Arial Black";
    }
    .content{
      text-align: center;
      font-family: "Arial";
    }

  }
}


/////////////////////////////////////////////////////////////
/* my account page */
#main{
  position: relative;
  max-width: 1400px;
  margin: 0 auto 50px;
}
.page-title{
  position: relative;
}
.normal-title .page-title-inner{
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-title-inner{
  position: relative;
  min-height: 60px;
}
.text-center{
  text-align: center;
}
.flex-col {
  max-height: 100%;
}
.flex-grow{
  -webkit-box-flex: 1;
  flex: 1;
}
.uppercase{
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 0!important;
}

.page-wrapper{
  padding-top: 30px;
  padding-bottom: 30px;
}
.container{
  max-width: 1170px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.row:not(.row-collapse) {
  padding-left: 0;
  padding-right: 0;
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
}
.row{
  //display: flex;
  -webkit-box-orient: horizontal;
  flex-flow: row wrap;
}
.large-3 {
  max-width: 25%!important;
  flex-basis: 25%!important;
}
.col-border {
  padding-right: 25px !important;
  border-right: 5px solid #2b107c;
}
.col{
  position: relative;
  margin: 0;
  padding-top: 0;
  padding-bottom: 30px;
  padding-left: 15px !important;
  width: 100% !important;
}
@media screen and (max-width: 849px){
  .col {
    max-width: 100%;
    flex-basis: 100%;
    padding-bottom: 30px;
  }
}
.circle{
  border-radius: 999px!important;
  object-fit: cover;
}
.inline-block{
  display: inline-block;
}
.mr-half{
  margin-right: 15px;
}
.account-nav.nav-vertical{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
}
.mt-half {
  margin-top: 15px;
}
.account-nav{
  width: 100%;
  position: relative;
  //display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.account-nav, .account-nav ul:not(.nav-dropdown) {
  margin: 0;
  padding: 0;
}
#my-account-nav {
  //list-style: disc;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.account-nav.nav-vertical .account-li {
  list-style: none;
  margin: 0;
  width: 100%;
}
.account-nav .account-li:first-child {
  margin-left: 0!important;
}
.nav-vertical>.account-li {
  display: flex;
  -webkit-box-orient: horizontal;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
}
.account-li {
  padding: 10px;
  position: relative;
  //text-align: -webkit-match-parent;
  border: 1px solid #262626;
  border-right: 2px solid #262626;
  transition: 0.5s;
}
.account-li:hover{
  transform: translateX(25px);
}
.nav-link{
  padding-right: 0 !important;
  margin-top: -15px !important;
}

@media screen and (min-width: 850px) {
  .col-border+.col{
    padding-left: 30px;
  }
}
@media screen and (min-width: 850px) {
  .large-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
}

/////////////////////////////////////////////////////////////
/* edit/settings page */
.row-edit{
  padding: 50px !important;
  margin-left: 500px;

}


/////////////////////////////////////////////////////////////
/* header */
.header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0));
}

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
}

#img-logo{
  margin-bottom: 27px;
}

//////////////////////////////////////////////////////////////
/* footer */
.footer {
  position: fixed;
  margin-top: 45px;
  margin-left: 100px;
  margin-right: 100px;
  border-top: 1px solid $dark-blue;
  color: $blue;
  bottom: 0;
  height: 10px;

  a {
    color: $gray;

    &:hover {
      color: $dark-blue;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/////////////////////////////////////////////////////////////
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/////////////////////////////////////////////////////////////
/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

/////////////////////////////////////////////////////////////
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  //@extend .has-error;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
.form-control{
  //width: 50% !important;
}
