<nav class="navbar header fixed-top navbar-expand-lg navbar-dark bg-empty">
  <div class="container-fluid">
    <%= link_to image_tag("metoday.png", height: 50, id: "img-logo") + "ME:today", root_path, id: "logo"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path , class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Help", help_path , class: "nav-link"%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Menu item </a>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
               id="navbarDarkDropdownMenuLink" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
      </ul>
    </div> <!-- navbar-collapse.// -->
  </div> <!-- container-fluid.// -->
</nav>
